[Unit]
Description = hello daemon
After=kotod.service
Requires=kotod.service

[Service]
ExecStart = /home/koto/bin/getbalance.py /home/koto/k-nomp/website/static/balance.json
WorkingDirectory=/home/koto/
Restart = always
Type = simple
User=koto
Group=koto

[Install]
WantedBy = multi-user.target
